@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #cab063e3;
    
}

header{
    background-color: black;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.548);

}

header > h1{
    color: white;
    padding-top:  50px;
    text-align: center;
    font-size: 5vw;
}

header p{
    color: white;
    text-align: center;
    padding-top: 0px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 2.3vw;
}
main{
    background-color: white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.555);
    margin: auto;
    height: 100vh;
    max-width: 800px;
    min-width: 320px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 30px;
   
}
main article{
    padding: 18px;
    text-align: justify;
    text-indent: 18px;
}
main img{
    margin: auto; 
    width: 150px;
   
}
.red{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    border: 10px solid lightblue;
    
}

div.red{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: lightblue; 
    border-radius: 8px;
}


div > p{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
    border-radius: 5px;
    margin-top: 10px;
}
